  <div class="wrap" >
      <div class="link-info">
      <!-- <h2>Google</h2> -->
      <% if flash[:link_info]%>
        <% @link_info = flash[:link_info][0]%>

          <h4><%= link_to "#{gethost+@link_info['short_url']}", gethost+@link_info["short_url"], 'data-turbolinks-track' => false, remote: false %></h4>
          <h5><%= @link_info["long_url"] %></h5>
          <h6>Created at: <%= time_ago_in_words(@link_info["created_at"]) %> ago<h6>
        </div>
        <div class="traffic">
          <h5>Page views</h5>
          <span style="font-size:40px"><%= (@link_info["views_count"].nil?) ? 0 : @link_info["views_count"] %></span>
        </div>
        <% if flash[:country].size>0 %>
          <div class="ip">
              <span style="text-align:center">Top countries</span>
              <ul>
                <% flash[:country].each do |link| %>
                  <li><%= (link["country"].nil?) ? 'direct' : link["country"] %></li>
                <%end%>
              </ul>
          </div>
        <%end%>
        <% if flash[:referrer].size>0 %>
          <div class="ref">
              <span style="text-align:center">Top referrals</span>
              <ul>
                <% flash[:referrer].each do |link| %>
                  <li><%= (link["referrer"].nil?) ? 'direct' : link["referrer"] %></li>
                <%end%>
              </ul>
          </div>
        <%end%>
    <%end%>
  </div>
