  <div class="wrap">
    <div class="link-info">
      <!-- <h2>Google</h2> -->
      <% if flash[:link_info]%>
        <% @link_info = flash[:link_info][0]%>

          <h4><%= @link_info["short_url"] %></h4>
          <h6><%= @link_info["long_url"] %></h6>
          <h5>Created At: <%= @link_info["created_at"] %><h5>
            <div class="traffic">
              <span style="font-size:40px"><%= (@link_info["views_count"].nil?) ? 0 : @link_info["views_count"] %></span> click(s) on this site
            </div>
        </div>
        <% if flash[:country].size>0 %>
          <div class="ip">
              <span>Top countries</span>
              <ul>
                <% flash[:country].each do |link| %>
                  <li><%= (link["country"].nil?) ? 'direct' : link["country"] %></li>
                <%end%>
              </ul>
          </div>
        <%end%>
        <% if flash[:referrer].size>0 %>
          <div class="ref">
              <span>Top referrals</span>
              <ul>
                <% flash[:referrer].each do |link| %>
                  <li><%= (link["referrer"].nil?) ? 'direct' : link["referrer"] %></li>
                <%end%>
              </ul>
          </div>
        <%end%>
    <%end%>
  </div>
