<div clas="container-fluid">
<%= render partial: "layouts/nav"%>
  <div class="container">
    <div class="row" style="height:800px">
      <div class="col-md-6 full-height">
        <div class="col-md-5 form-inline" style="margin-left: -15px">
            <%= form_for(Link.new) do |f| %>
            <div class="input-group">
              <%= f.text_field :long_url, class: "form-control our-form-control", id: "exampleInputEmail1",placeholder: "Enter long url", required: :true%>
              <span class="input-group-btn">
                <%= f.submit class: "btn btn-primary"%>
              </span>
            </div>
            <% end %>
          </div>
          <% unless flash[:short_url].nil? %>
            <input type="text" disabled="disabled" name="short_url" class="short_url" style="width: 100% !important" value=<%= gethost+flash[:short_url] %> >
          <% end %>

          <div class="header">
            <div class="list-group">

              <% if @user.links %>
                <% @user.links.each do |link|%>
                  <%=link_to "#{gethost+link.short_url}", "/links/#{link.id}",remote: true, class:"list-group-item show" %>


                <%end%>
              <% end %>
            </div>
          </div>
      </div>
      <div class="col-md-5 full-height link_info" id="link_info" style="background-color:white">
        <div class="spinner" style="margin-top:250px;display:none">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>


        <div class="wrap" >
            <div class="link-info">
            <!-- <h2>Google</h2> -->
            <% if @user_link %>
                <h4><%= link_to "#{gethost+@user_link.short_url}", gethost+@user_link.short_url, 'data-turbolinks-track' => false, remote: false, target: '_blank' %></h4>
                <h5 style="word-wrap:break-word"><%= (@user_link.long_url) %></h5>
                <h6>Created at: <%= time_ago_in_words(@user_link.created_at) %> ago<h6>
              </div>
              <div class="traffic">
                <h5>Page views</h5>
                <span style="font-size:40px"><%= (@user_link.views_count.nil?) ? 0 : @user_link.views_count %></span>
              </div>
              <% if @countries.size>0 %>
                <div class="ip">
                    <span style="text-align:center">Top countries</span>
                    <ul>
                      <% @countries.each do |link| %>
                        <li><%= (link["country"].nil?) ? 'direct' : link["country"] %> <%= "(#{link['count']})"%></li>
                      <%end%>
                    </ul>
                </div>
              <%end%>
              <% if @referrers.size>0 %>
                <div class="ref">
                    <span style="text-align:center">Top referrals</span>
                    <ul>
                      <% @referrers.each do |link| %>
                        <li><%= (link["referrer"].nil?) ? 'direct' : link["referrer"] %></li>
                      <%end%>
                    </ul>
                </div>
              <%end%>
          <%end%>
        </div>


      </div>
    </div>
  </div>
</div>
