<div clas="container-fluid">
  <%= render partial: "layouts/nav"%>

  <div class="container">
    <div class="body" style="height:350px">
      <% if flash[:notice] %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <%= flash[:notice] %>
        </div>
      <%end%>
      <h1 class="center header">YouRL</h1>
      <div class="row">
        <div class="col-md-5 shrink form-inline" >
            <%= form_for(Link.new, remote: :true) do |f| %>
            <div class="input-group">
              <%= f.text_field :long_url, class: "form-control our-form-control", id: "exampleInputEmail1",placeholder: "Enter long url", required: :true%>
              <span class="input-group-btn">
                <!-- <button class="btn btn-primary" type="button">Create Link</button> -->
                <%= f.submit class: "btn btn-primary"%>
              </span>
            </div>
            <% end %>
            <div id="loader">
              <div id="loader2">

                <% unless flash[:short_url].nil? %>
                  <input type="text" disabled="disabled" name="short_url" class="short_url" value=<%= gethost+flash[:short_url] %> >
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>



    <div class="text-center">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" style="margin-left:40%"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Top Links</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Recent Links</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <% if @top_links %>
              <% @top_links.each do |link|%>
                  <li class="list-group-item"><h4><%= gethost+link.short_url %></h4></li>
                <%end%>
          <%else%>
              <li>No top links yet</li>
          <%end%>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <% if @recents %>
              <% @recents.each do |link|%>
                  <li class="list-group-item"><h4><%= gethost+link.short_url %></h4></li>
                <%end%>
          <%else%>
              <li>No top links yet</li>
          <%end%>
        </div>
      </div>

    </div>


  </div>
</div>
