<div clas="container-fluid">
  <%= render partial: "layouts/nav"%>

  <div class="container">
    <div class="body" style="height:480px">
      <h1 class="center header">YouRL</h1>
      <div class="row">
        <div class="col-md-5 shrink form-inline" >
            <%= form_for(Link.new, remote: :true) do |f| %>
            <div class="input-group">
              <%= f.text_field :long_url, class: "form-control our-form-control", id: "exampleInputEmail1",placeholder: "Enter long url", required: :true%>
              <span class="input-group-btn">
                <!-- <button class="btn btn-primary" type="button">Create Link</button> -->
                <%= f.submit class: "btn btn-primary"%>
              </span>
            </div>
            <% end %>
            <div id="loader">
              <div id="loader2">
                <% unless flash[:short_url].nil? %>
                  <input type="text" disabled="disabled" class="short_url" value=<%= gethost+flash[:short_url] %> >
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="famzing" style="margin:0 200px">
      <table class="table table-hover tabel" style="width:45%">
        <% if @top_links %>
            <thead style="border-right:1px solid right">
              <td>Top Links</td>
            </thead>
            <tbody>
            <% @top_links.each do |link|%>
              <tr>
                <td><%= link.long_url %></td>
              </tr>
              <%end%>
            </tbody>
        <%else%>
            <td>No top links yet</td>
        <%end%>
      </table>
      <table class="table table-hover tabel" style="width:45%">
        <% if @recents %>
            <thead>
              <td>Recent Links</td>
            </thead>
            <tbody>
            <% @recents.each do |link|%>
              <tr>
                <td><%= link.long_url %></td>
              </tr>
              <%end%>
            </tbody>
        <%else%>
            <td>No recent links yet</td>
        <%end%>
      </table>
    </div>
  </div>
</div>
